<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css"
        integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    </link>
    <style>
        body {
            background-color: white;
            min-height: 100vh;
        }

        h1 {
            color: black;
            text-align: left;
            border-bottom: 3px solid orange;
            padding-bottom: 10px;
        }

        table thead {
            border-bottom: 3px solid orange;
            padding-bottom: 20px;
        }

        table tbody tr {
            border-color: none;
        }

        .table td,
        .table th {
            border-top: none;
        }

        .btn-dark.custom-btn {
            background-color: orange;
            border-color: orange;
        }

        .btn-dark.custom-btn:hover {
            background-color: orange;
            border-color: orange;
        }
    </style>
</head>

<body>
    <div class="px-4 px-lg-0">
        <!-- For demo purpose -->
        <div class="container text-white py-5 text-center">
            <h1 class="display-4">結帳</h1>
            <!-- <p class="lead mb-0">Build a fully structred shopping cart page using Bootstrap 4. </p>
            <p class="lead">Snippet by <a href="https://bootstrapious.com/snippets" class="text-white font-italic">
                    <u>Bootstrapious</u></a>
            </p> -->
        </div>
        <!-- End -->

        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 p-5 bg-white rounded ">

                        <!-- Shopping cart table -->
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <input type="checkbox" name="">
                                        </th>
                                        <th scope="col">
                                            <div class="p-2 text-uppercase">選單</div>
                                        </th>
                                        <th scope="col" class="">
                                            <div class="p-2 text-uppercase">商品</div>
                                        </th>
                                        <th scope="col" class="">
                                            <div class="py-2 text-uppercase">單位</div>
                                        </th>
                                        <th scope="col" class="">
                                            <div class="py-2 text-uppercase">價格</div>
                                        </th>
                                        <th scope="col" class="">
                                            <div class="py-2 text-uppercase">數量</div>
                                        </th>
                                        <th scope="col" class="">
                                            <div class="py-2 text-uppercase">統計</div>
                                        </th>
                                        <th scope="col" class="">
                                            <div class="py-2 text-uppercase">移除</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th><input type="checkbox"></th>
                                        <th scope="row" class="border-0">
                                            <div class="p-2">
                                                <img src="https://res.cloudinary.com/mhmd/image/upload/v1556670479/product-1_zrifhn.jpg"
                                                    alt="" width="70" class="img-fluid rounded shadow-sm">
                                            </div>
                                        </th>
                                        <td class=" align-middle">
                                            <div class="ml-3 d-inline-block align-middle">
                                                <h5 class="mb-0"> <a href="#"
                                                        class="text-dark d-inline-block align-middle">
                                                        阿里山紅玉</a></h5><span
                                                    class="text-muted font-weight-normal font-italic d-block">目錄：紅茶</span>
                                            </div>
                                        </td>
                                        <td class=" align-middle"><strong>公斤</strong></td>
                                        <td class=" align-middle"><strong>$69.00</strong></td>
                                        <td class=" align-middle"><strong>3</strong></td>
                                        <td class=" align-middle"><strong>198.00</strong></td>
                                        <td class=" align-middle"><i class="fas fa-trash"></i></td>
                                    </tr>
                                    <tr>
                                        <th><input type="checkbox"></th>
                                        <th scope="row">
                                            <div class="p-2">
                                                <img src="https://res.cloudinary.com/mhmd/image/upload/v1556670479/product-3_cexmhn.jpg"
                                                    alt="" width="70" class="img-fluid rounded shadow-sm">

                                            </div>
                                        </th>
                                        <td class="align-middle">
                                            <div class="ml-3 d-inline-block align-middle">
                                                <h5 class="mb-0"><a href="#" class="text-dark d-inline-block">木柵鐵觀音</a>
                                                </h5><span
                                                    class="text-muted font-weight-normal font-italic">目錄：烏龍茶</span>
                                            </div>
                                        </td>
                                        <td class="align-middle"><strong>公斤</strong></td>
                                        <td class="align-middle"><strong>$77.00</strong></td>
                                        <td class="align-middle"><strong>3</strong></td>
                                        <td class="align-middle"><strong>231.00</strong></td>
                                        <td class="align-middle"><a href="#" class="text-dark"><i
                                                    class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><input type="checkbox"></th>
                                        <th scope="row">
                                            <div class="p-2">
                                                <img src="https://res.cloudinary.com/mhmd/image/upload/v1556670479/product-2_qxjis2.jpg"
                                                    alt="" width="70" class="img-fluid rounded shadow-sm">

                                            </div>
                                        <td class="align-middle">
                                            <div class="ml-3 d-inline-block align-middle">
                                                <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block">三峽龍井茶</a>
                                                </h5><span
                                                    class="text-muted font-weight-normal font-italic">目錄：綠茶</span>
                                            </div>
                                        </td>
                                        <td class="align-middle"><strong>公斤</strong></td>
                                        <td class="align-middle"><strong>$80.00</strong></td>
                                        <td class="align-middle"><strong>3</strong></td>
                                        <td class="align-middle"><strong>240.00</strong></td>
                                        <td class="align-middle">
                                            <a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="col-lg-6">
                                <!-- <div class="text-uppercase font-weight-bold">優惠券</div> -->
                                <div class="p-4">
                                    <div class="text-uppercase font-weight-bold">優惠券
                                        <div class="input-group mb-4 border">
                                            <input type="text" placeholder="選擇優惠券代碼" aria-describedby="button-addon3"
                                                class="form-control border-0">
                                            <div class="input-group-append border-0">
                                                <button id="button-addon3" type="button"
                                                    class="btn btn-dark custom-btn"><i
                                                        class="fa fa-gift mr-2"></i>兌換代碼</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- End -->
                    </div>
                </div>
                <!-- Optional JavaScript -->
                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                    crossorigin="anonymous">
                </script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                    crossorigin="anonymous">
                </script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                    crossorigin="anonymous">
                </script>
</body>

</html>