<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Reqthred meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <style>
      .pj_body {
        margin: 30px;
      }
      .pj_border-bottom {
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-color: #ec8a53;
        padding: 10px;
      }

      .pj_recommend-img {
        width: 80px;
        height: 100px;
      }
    </style>
  </head>
  <body>
    <div class="pj_body">
      <h1 class="pj_border-bottom">購物車清單</h1>
      <div class="" style="max-width: 1920px;">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div>
              <div
                class="custom-control custom-checkbox pj_border-bottom d-flex "
                style="padding-left: 30px;"
              >
                <div>
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="customCheck1"
                  />
                  <label
                    class="custom-control-label"
                    for="customCheck1"
                  ></label>
                </div>
                <table>
                  <tr>
                    <th>商品</th>
                    <th>茶種</th>
                    <th>單位</th>
                    <th>價格</th>
                    <th>數量</th>
                    <th>總計</th>
                  </tr>
                </table>
              </div>
              <table>
                <tr>
                  <th>
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheck1"
                    />
                    <label
                      class="custom-control-label"
                      for="customCheck1"
                    ></label>
                  </th>
                  <th>
                    <img
                      class="pj_recommend-img"
                      src="../../images/01.jpg"
                      alt=""
                    />
                  </th>
                  <th>
                    【 冷泡茶精選 】 台灣茶 ‧ 綜合茶包組 - 外出單人瓶( 600ml )
                    茶包3gx4枚
                  </th>
                  <th>紅茶</th>
                  <th>1包</th>
                  <th>NT$100</th>
                  <th>2</th>
                  <th>NT$200</th>
                  <th>刪除</th>
                </tr>
              </table>
            </div>
          </div>

          <!----------------- 推薦商品 ------------>

          <div class="col-md-4">
            <div class="card-body ">
              <h5>推薦商品</h5>
              <div class="d-flex ">
                <img
                  class="pj_recommend-img"
                  src="../../images/01.jpg"
                  alt=""
                />
                <div>
                  <p class="p-2">
                    【 冷泡茶精選 】 台灣茶 ‧ 綜合茶包組 - 外出單人瓶( 600ml )
                    茶包3gx4枚
                  </p>
                  <p style="float: right;">NT320</p>
                </div>
              </div>

              <div class="d-flex ">
                <img
                  class="pj_recommend-img"
                  src="../../images/01.jpg"
                  alt=""
                />
                <div>
                  <p class="p-2">
                    【 冷泡茶精選 】 台灣茶 ‧ 綜合茶包組 - 外出單人瓶( 600ml )
                    茶包3gx4枚
                  </p>
                  <p style="float: right;">NT320</p>
                </div>
              </div>

              <div class="d-flex ">
                <img
                  class="pj_recommend-img"
                  src="../../images/01.jpg"
                  alt=""
                />
                <div>
                  <p class="p-2">
                    【 冷泡茶精選 】 台灣茶 ‧ 綜合茶包組 - 外出單人瓶( 600ml )
                    茶包3gx4枚
                  </p>
                  <p style="float: right;">NT320</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.sthm.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/thbs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
