.sy_form {
  $color: $gray-500;
  $hover-color: darken($color, 25%);

  &-group {
    // display: flex;
    margin-bottom: .5rem;
  }
  &-label {
    margin-bottom: 0;
    margin-right: 1rem;
    font-size: 14px;
    color: $hover-color;
  }
  &-control {
    display: block;
    width: 100%;
    flex: 1 1;
    border: none;
    border-bottom: 1px solid $color;
    border-radius: 0;
    color: darken($hover-color, 15%);
    outline: none;

    &:focus {
      border-color: $hover-color;
    }
  }
  &-err {
    color: $danger;
  }
}
textarea.sy_form-control {
  height: auto;
  border: 1px solid $gray-500;
}
