.yz-header {
  border: 1px solid #bdbdbd75;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  margin-top: 50px;
}

.login {
  margin: 30px 0px;
  text-align: center;
}
.yz_btn-login {
  width: 310px;
  height: 75px;
  color: #ffffff;
  background-color: #df641c;
  line-height: 75px;
  border-radius: 10px;
  margin-left: 25px;
  box-shadow: $box-shadow;
}
.yz-froget {
  margin-top: 10px;
}
.registered {
  margin-top: 10px;
}
.fb {
  width: 100%;
  height: 40px;
  color: #ffffff;
  background-color: #156ff5;
  border-radius: 10px;
  line-height: 40px;
}
.gmail {
  width: 100%;
  height: 40px;
  color: #ffffff;
  line-height: 40px;
  background-color: #f13636;
  border-radius: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 500px) {
  .Loginarea {
    margin-bottom: 30px;
  }
  .yz-header {
    width: 100%;
    height: 100%;
  }

  .login {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .yz-form-control {
    width: 100%;
  }
  .form-check-label {
    font-size: 2px;
  }
  .yz-froget {
    font-size: 2px;
  }
  .registered {
    font-size: 2px;
  }
  .btn-login {
    width: 100%;
    height: 110px;
  }
}

