.yz-password {
  border: 1px solid #bdbdbd75;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 300px;
  margin-top: 50px;
  margin-left: 320px;
}
.yz-passwordform-control {
  width: 250px;
  margin-left: 80px;
}
.yz-passwordbtn {
  width: 150px;
  height: 40px;
  margin-left: 130px;
  color: #ffffff;
  background-color: #df641c;
  border-radius: 10px;
  line-height: 40px;
}
